.pioenvs
.clang_complete
.gcc-flags.json
.piolibdeps
/.idea/
/misc/includes.list
/misc/libraries.list
/misc/lib/iom328p.h
/.project
/bump_version
/format_code
/launch_tests
/pull_dependencies
/serial_monitor
/upload
